@import '../../../styles/variables.module.scss';

.starsContainer {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.yellow {
    svg {
        fill: #ffa900;
    }
}

.gray {
    svg {
        fill: #a7a6a6;
    }
}

.reviewLink {
    margin-left: 7px;
    color: #3e77aa;
}