@import '../../styles/variables.module.scss';

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    padding: 0;
    padding-inline: 0 !important;
    z-index: 100;
}

.antLayout {
    background-color: white;
}

.content {
    margin-top: 64px;
    margin-bottom: 100px;
}

.sidebarModal {
    position: fixed;
    top: 0;
    left: 0;
    width: 320px !important;
    height: 100vh;
    z-index: 100;



    &>div {
        padding: 0 !important;
    }
}