@import '../../styles/variables.module.scss';

.headerContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 50px;
    padding-right: 30px;
    height: 100%;
}

.collapsedButton {
    position: fixed;
    left: 10px;
    top: 16px;
    padding: 5px 8px;
}

.modalCatalog {
    position: fixed;
    top: 64px;
    left: 0;
    right: 0;
}

.menuIcon {
    svg {
        width: 20px;
        height: 20px;
    }
}

.logo__image {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 64px;
    margin-left: 20px;
    cursor: pointer;

    img {
        width: 100%;
    }
}

.modalCatalog {
    width: 80% !important;
}

.search {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 600px;
    min-width: 180px;
    height: 100%;
    width: 35%;
    position: relative;
}

.catalog {
    display: flex;
    justify-content: center;
    align-items: center;

    span,
    p {
        font-size: $fontSize-small;
        color: #1677ff;

        svg {
            width: 30px;
            height: 30px;
            fill: #1677ff;
        }
    }

    p {
        padding-inline-start: 6px;
        display: inline-block;
        position: relative;
        bottom: 6px;
    }
}

.menu {
    justify-self: flex-end;
}

.badge {
    sup {
        background-color: #1677ff !important;
    }
}

@media screen and (max-width: 1285px) {
    .logo__image {
        width: 52px;
        height: 64px;

        img {
            width: 44px;
            height: 42px;
            object-fit: cover;
            object-position: 0;
        }
    }
}

@media screen and (max-width: 900px) {
    .catalog {
        display: none;
    }

    .modalCatalog {
        width: 100% !important;
    }
}

@media screen and (max-width: 700px) {
    .logo__image {
        margin-left: 0;
        margin-right: 10px;
    }

    .login {
        display: none;
    }

    .menuItem {
        display: none !important;
    }

    .menuCart {
        display: block !important;
    }
}