@import '../../styles/variables.module.scss';

.search {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    min-width: 180px;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    margin-top: 12px;
}

.searchSpan {

    input {
        border-radius: 0 !important;
        height: 40px !important;
    }

    button {
        border-radius: 0 !important;
    }
}

.extendedSearch {
    background-color: white;
    min-height: 100px;
    height: fit-content;
    border-radius: $borderRadius;
}

.searchedItems {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: fit-content;
    width: 100%;
    max-width: 600px;
    max-height: 65vh;
}

.searchedListItem {
    list-style: none;
    border-bottom: 2px solid #e2e2e2;
    margin: 5px;

    a {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        height: 50px;
        width: 100%;
    }
}

.imageContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;

    img {
        width: 90%;
        height: 90%;
    }
}

.nameAndCategory {
    margin-left: 10px;
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

@media screen and (max-width: 400px) {
    .searchSpan {
        span>button {
            display: none;
        }
    }
}