@import '../../styles/variables.module.scss';

.container {
    margin-bottom: $indent-large;
    flex-wrap: nowrap !important;
}

.menu {
    margin-left: $indent-medium;
    padding: $indent-small;
    min-width: 245px;
}

.content {
    padding: $indent-large;
    background-color: white;
    border-left: 2px solid #e9e9e9;
    width: 100%;
    max-width: 1195px;

    h1 {
        font-size: $fontSize-large;
        margin: $indent-small $indent-medium;
    }
}

.avatar {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 64px;
    border-bottom: 2px solid #e9e9e9;
}

.name__email {
    font-size: $fontSize-xxsmall !important;
}

.menu__ul {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    border-bottom: 2px solid #e9e9e9;
    padding-bottom: 5px;
}

.menuItem {
    list-style: none;
    min-width: 100%;
    display: flex;
    align-items: center;
}

.profileNavigation {
    color: #001529 !important;
    display: flex;
    width: 100%;
    height: 48px;
    transition: $transition;
    border-radius: $borderRadius;
    padding: 0 $indent-small;

    div {
        margin: auto 7px;
    }

    &:hover {
        background-color: #1677ff7a;
    }
}

.activeProfileNavigation {
    background-color: #1677ff7a;
}

.menuItem__icon {
    border-radius: $circle;
    background-color: #221f1f0d;
    width: 32px;
    height: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.collapse {
    width: 100%;

}

.panel {
    min-width: 100%;
    font-size: $fontSize-small;
}

.logout {
    margin: $indent-small 0;
}

@media screen and (max-width: 700px) {
    .menu {
        display: none;
    }

    .content {
        padding: 5px;
    }
}