@import '../../../styles/variables.module.scss';

.reviewsList {
    list-style: none;
    margin-bottom: 16px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    height: fit-content;

    .review {
        border: 1px solid #e9e9e9;
        border-radius: 4px;
        width: 100%;
        margin-bottom: 15px;
    }

    .reviewItemContainer {
        .reviewHeader {
            position: relative;
            display: flex;
            flex-direction: row;
            align-items: center;
            margin-bottom: 16px;
            padding: 8px 16px;
            border-bottom: 1px solid #e9e9e9;
        }

        .reviewHeaderContainer {
            padding: 5px 10px;
            display: flex;
            flex: 1;
            align-items: center;
            font-size: 16px;
            font-weight: 700;
            border-bottom: #e9e9e9;

            span {
                svg {
                    width: 20px;
                    height: 20px;
                    margin: 4px;
                }
            }
        }

        .headerInfo {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            flex: 1;
            font-size: 16px;
        }
    }

    .reviewBody {
        padding-left: 16px;
        padding-right: 16px;
        word-break: break-word;

        p {
            margin: 10px 0;
            padding-left: 16px;
            padding-right: 16px;
            word-break: break-word;
        }
    }

    .reviewPhotos {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-grow: 1;
        width: 100%;

        .reviewPhotoList {
            list-style: none;
            display: flex;
            justify-content: flex-start;
            align-items: center;
            width: 100%;
            margin: 10px 5px;

            div {
                min-width: 80px;
                width: auto !important;
                object-fit: cover;
                object-position: center;
            }
        }
    }
}